window, * { 
  color: white;
  font-family: "Nimbus Sans"; 
}

.background {background-color: black;}

button {
  border-width: 0;
  padding: 0;
  background-image: none;
  background-color: transparent;
  transition-property: none;
  animation: none;
}

button:hover {
  border-width: 0;
  background-image: none;
  background-color: transparent; 
  box-shadow: none; 
}

button:active {
  border-width: 0;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
}

.heading-style {
  font-size: 42pt;
  font-weight: bold;
}

.header-footer-style {
  min-height: 120px;
}

/* used by display_string */
.display-string-style {
  font-size: 24pt;
}

.information-style {
  min-height: 904px;
}

.scroll-item-title-style {
  font-size: 16pt;
  margin-top: 10px;
}

.scroll-item-title2-style {
  font-size: 16pt;
  margin-top: 10px;
  color: yellow;
}

.photo-path-style {
  font-size: 12pt;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 100px;
}

.photo-image-style {
  min-height: 851px;            /* also in prepare_photo */
}

scrolledwindow {
  margin-left: 20px;
  margin-right: 20px;
}

.outlined-box {
  /* REQUIRED: Set a background color. GTK often won't draw a border unless a background is set (even transparent) */
  background-color: transparent; 
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.transport-icons-box-style {
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 30px;
  background-color: transparent; 
  border: 2px solid yellow;
}

.transport-box-style {
  padding: 7px;
}

.half-main-area-style {
  min-height: 515px;
}

/* playing area below photo, was 230px */
.playing-area-small-style {
  min-height: 124px;
}

/*.playing-area-large-style {
  background-color: blueviolet;
}*/

/* text style for playing info */
.playing-text-style {
  font-size: 23pt;
  margin-top: 10px;
}

.playing-text-box-style {
  margin-top: 10px;
}

.radio-playing-image-style {
  margin-top: 20px;
}

/* text style for album title in main playing area */
.playing-album-title-text-style {
  font-size: 25pt;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

/* text style for artist name in main playing area */
.playing-artist-name-text-style {
  font-size: 25pt;
  margin-left: 5px;
  margin-right: 5px;
  color: yellow;
}

.playing-album-artist-box-style {
  min-width: 400px;
}

.playing-icon-details-style {
  margin-top: 30px;
  margin-bottom: 10px;
}

.letter-box-text-style {
  background-color: #B2B200;
  color:blue;
  font-size: 40pt;
  padding: 8px;
  padding-top: 20px;
  border-color: yellow;
  border-width: 2px;
  border-style: solid;
  min-width: 65px;
}